{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}


    <hr>
    <i><h3>всего новостей на этой странице News Ozersk Portal - {{ news|length }} </h3></i>
    <h2>-------------------------------------------------</h2>
    <h2>НОВОСТИ на {{ time_now|date:'d M Y' }}:</h2>

   <hr>
   {% if news %}
       <table>
           <tr>
               <td><h4>Автор</h4></td>
               <td><h4>Заголовок</h4></td>
               <td><h4>Время и дата публикации</h4></td>
               <td><h4>Новость</h4></td>
           </tr>

           {% for new in news %}
           <tr>
               <td>{{ new.author|truncatewords:2 }}</td>
               <td>{{ new.name|censor|truncatechars:60 }}</td>
               <td><i>{{ new.time_in }}</i></td>
               <td>{{ new.textPost|censor|truncatewords:20 }}</td>
           </tr>

           {% endfor %}
       </table>
    <hr>

   {% else %}
       <h2>СЕГОДНЯ ХОРОШИЙ ДЕНЬ - НОВОСТЕЙ НЕТ!</h2>
   {% endif %}

    {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}